<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../head');%>
</head>
<body>
    <%- include('../top');%>
    <div id="midContent" style="width:100%;min-height: 800px;_background: pink;">
        <%- include('leftNav');%>
        <div style="width:85%;height:800px;float: left;background-color:gold;">

        </div>
        
        
    </div>
    <%- include('../bottom');%>
</body>
</html>